<div class="sp50"></div>
<center>
  <div style="width:700px;height:300px;background:#2c3e50">
    <div class="sp30"></div>
    <h1 class="lead" style="color:#ffffff;font-size:80px;"><%= @coupon.code %></h1>
    <h2 class="lead" style="color:#ffffff;">for <%= Coupon::VENDOR_NAMES[@coupon.coupon_vendor.to_i] %>, by <%= @coupon.user.full_name %></h3>
  </div>
  <div class="sp50"></div>
  <h1 class="lead" style="font-size:60px;">be a #VoucherDonor</h1>  
</center>



