<script type="text/template" id="userIcon">
  <div class="friendIcon" data-id="{{= user_id }}" data-name="{{= name}}" onclick="showUserFeeds($(this))" onmouseover="ele_show('{{= id }}-del');" onmouseout="ele_hide('{{= id }}-del');">
    <span id="{{= id }}-del" class="fui-cross-circle" style="display:none;" onclick="removeFriend('{{= id }}')"></span>
    <img src="{{= pic_url }}"/>
  </div>
</script>

<script type="text/teamplate" id="individual_coupon">
  <li id="{{= code}}" class="coupon {{= user_id }} {{= vendor }}"><a href="javascript:void(0);" id="{{= id}}" ><img src="/assets/plain.png" alt="{{= id}}">
      <p>
	Grab your coupon code from <label>{{= vendor }} </label> and use it before <time class="timeago" datetime="{{= exp_at }}">{{= exp_at }}</time>		
      </p>
      <h3><span class="btn btn-success" onclick="updateCode($(this), '{{= id}}');" data-grabdata="{{= code }}">Grab it Now</span></h3>
  </a></li>
</script>

<script type="text/teamplate" id="individual_used_coupon">
  <li id="{{= code}}" class="coupon {{= user_id }} {{= vendor }}"><a href="javascript:void(0);" id="{{= id}}" ><img src="/assets/plain.png" alt="{{= id}}">
      <p>
		This coupon code from <label>{{= vendor }} </label> used by you.
      </p>
      <h3>{{= code }}</h3>
  </a></li>
</script>

<script type="text/teamplate" id="coupon_used_display">
  <section class="grid-wrap">
    <ul class="grid swipe-right" id="grid_used">
      {{= html }}
    </ul>
  </section>
</script>

<script type="text/teamplate" id="coupon_display">
  <section class="grid-wrap">
    <ul class="grid swipe-right" id="grid">
      {{= html }}
    </ul>
  </section>
</script>
