/* spacing */
.sp1 {
    height: 1px;
    line-height: 1px;
}

.sp2 {
    height: 2px;
    line-height: 2px;
}

.sp3 {
    height: 3px;
    line-height: 3px;
}

.sp5 {
    height: 5px;
    line-height: 5px;
}

.sp10 {
    height: 10px;
    line-height: 10px;
}

.sp15 {
    height: 15px;
    line-height: 15px;
}

.sp20 {
    height: 20px;
    line-height: 20px;
}

.sp25 {
    height: 25px;
    line-height: 25px;
}

.sp30 {
    height: 30px;
    line-height: 30px;
}

.sp50 {
    height: 50px;
    line-height: 50px;
}

.sp100 {
    height: 100px;
    line-height: 100px;
}

.sp200 {
    height: 200px;
    line-height: 200px;
}

.sp500 {
    height: 500px;
    line-height: 500px;
}

/* border classes */
.b-top {
    border-top: 1px solid #2C3E50;
}

.b-right {
    border-right: 1px solid #2C3E50;
}

.b-left {
    border-left: 1px solid #2C3E50;
}

.b-bottom {
    border-bottom: 1px solid #2C3E50;
}

.b-top-left {
    border-top: 1px solid #2C3E50;
    border-left: 1px solid #2C3E50;
}

.b-top-right {
    border-top: 1px solid #2C3E50;
    border-right: 1px solid #2C3E50;
}

.b-bottom-left {
    border-top: 1px solid #2C3E50;
    border-left: 1px solid #2C3E50;
}

.b-bottom-right {
    border-top: 1px solid #2C3E50;
    border-right: 1px solid #2C3E50;
}

.b-all {
    border: 1px solid #2C3E50;
}

.p-null {
    padding: 0px;
}

.p-2 {
    padding: 2px;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.m-null {
    margin: 0px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.pm-null {
    padding: 0px;
    margin: 0px;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

#loading {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
}
 
.main {
    margin: 0px auto;
    padding: 0px 20px;
}

#feed-area {
    width: 65%;
    float: left;
}

#friends-area {
    width: 35%;
    height: 100%;
    min-height: 500px;
    background: #fafafa;
    float: left;
}

.friendIcon {
    position: relative;
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px;
    cursor: pointer;
    border: 5px solid #ffffff;
}

.friendIcon img {
    
}

.friendIcon .fui-cross-circle {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 10;
}

#grid p{
    position: absolute;
    top: 10%;
    text-align: center;
    padding: 40px;
}